@font-face {
    font-family: 'honyaji-reregular';
    src: url('honyaji-re-webfont.woff2') format('woff2'),
         url('honyaji-re-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
